* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    border-bottom: 1px solid #CCCCCC;
}

.vector-lettering {
    height: 28px;
    margin: 34px 51px 34px 51px;
}

.burger-icon {
	width: 48px;
	height: 31px;
	border: none;
	background: none;
	outline: none;
}

.burger-icon-item {
	width: 24px;
	height: 4px;
	background: #FFC500;
	position: relative;
	cursor: pointer;
    top: -8px;
    left: 10px;
}

.burger-icon-item::before {
	content: "";
	display: block;
	width: 24px;
	height: 4px;
	background: #A4A14A;
	position: absolute;
	top: -8px;
	left: 0;
}

.burger-icon-item::after {
	content: url(img/cursor_down.svg);
	display: block;
	width: 24px;
	height: 4px;
	position: absolute;
	bottom: -8px;
	left: 0;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    font-family: sans-serif;
    list-style-type: none;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
}

.menu-item {
    padding: 39px 57px 36px 51px;
    font-family: Graphik LC TT;
}

.menu-item:hover {
    background: #f00;
    color: #fff;
    cursor: pointer;
}

.hamburger-menu {
    visibility: hidden;
    width: 1px;
    height: 1px;
}

.button {
    display: flex;
    padding-left: 151px;
    padding-top: 25px;
}

.button1 {
    border: none;
    background-color: #fff;
    width: 120px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 0px;
    text-align: center;
    font-size: 16px;
    line-height: 45px;
    font-weight: bold;
    margin-right: 10px;
    font-family: Graphik LC TT;
}

.button1:hover {
    background: #ffff00;
    cursor: pointer;
}

.button2 {
    border: none;
    background-color:#FF6336;
    border-radius: 0px;
    width: 120px;
    height: 45px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 45px;
    color: #FFFFFF;
    font-family: Graphik LC TT;
}

.button2:hover {
    background: #f00;
    cursor: pointer;
}

.banner {
    width: 552px;
    height: 210px;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 70px;
    margin-top: 129px;
    margin-left: 75px;
    font-family: Graphik LC TT;
}

.description {
    width: 471px;
    height: 140px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    margin-top: 51px;
    margin-left: 75px;
    font-family: Graphik LC TT;
}

.button_under_description {
    flex-basis: 300px;
    display: flex;
    margin-top: 50px;
    margin-left: 75px;
}

.button3 {
    background-color:#FF6336;
    border: none;
    border-radius: 0px;
    width: 160px;
    height: 45px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 45px;
    color: #FFFFFF;
    font-family: Graphik LC TT;
    margin-right: 10px;
}

.button3:hover {
    background: #f00;
    cursor: pointer;
}

.button4 {
    background-color: #fff;
    border: none;
    width: 160px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 0px;
    text-align: center;
    font-size: 16px;
    line-height: 45px;
    font-weight: bold;
    margin-right: 10px;
    font-family: Graphik LC TT;
}

.button4:hover {
    background: #ffff00;
    cursor: pointer;
}

.limit_using {
    width: 369px;
    height: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    margin-top: 25px;
    margin-left: 75px;
    font-family: Graphik LC TT;
}

.image {
    width: 759px;
    height: 529px;
    position: absolute;
    left: 700px;
    bottom: 10px;
}

.box_cooperation_with_companies {
    height: 445px;
    background: #FF9C7D;
    margin-top: 182px;
    margin-bottom: 90px;
}

.banner2 {
    width: 720px;
    height: 120px;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    padding-top: 108px;
    padding-left: 415px;
    font-family: Graphik LC TT;
}

.companies {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 1290px;
    height: 53px;
    margin-top: 70px;
    margin-left: 102px;
}

.box_possibilities_1 {
    margin: 0 auto;
    margin-bottom: 250px;
    width: 1290px;
    height: 632px;
    display: flex;
}

.box_possibilities_2 {
    margin: 0 auto;
    margin-bottom: 250px;
    width: 1290px;
    height: 632px;
    display: flex;
}

.box_possibilities_3 {
    margin: 0 auto;
    margin-bottom: 250px;
    width: 1290px;
    height: 632px;
    display: flex;
}

.box_possibilities_4 {
    margin: 0 auto;
    width: 1290px;
    height: 632px;
    display: flex;
}

.flexbox_possibilities_1 {
    display: flex;
    margin-top: 151px;
    margin-right: 138px;
    flex-direction: column;
    width: 657px;
    height: 341px;
}

.flexbox_possibilities_2 {
    display: flex;
    margin-top: 151px;
    margin-left: 138px;
    flex-direction: column;
    width: 657px;
    height: 341px;
}

.flexbox_possibilities_3 {
    display: flex;
    margin-top: 151px;
    margin-right: 138px;
    flex-direction: column;
    width: 657px;
    height: 341px;
}

.flexbox_possibilities_4 {
    display: flex;
    margin-top: 151px;
    margin-left: 138px;
    flex-direction: column;
    width: 657px;
    height: 341px;
}

.banner1 {
    width: 493px;
    height: 120px;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 30px;
    font-family: Graphik LC TT;
}

.description1 {
    width: 491px;
    height: 120px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
    font-family: Graphik LC TT;
}

.underline {
    text-decoration: underline;
}

.banner_correct {
    width: 493px;
    height: 120px;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    font-family: Graphik LC TT;
}

.description_correct {
    width: 491px;
    height: 120px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 60px;
    font-family: Graphik LC TT;
}

.link {
    width: 96px;
    height: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: #000;
    font-family: Graphik LC TT;
}

.link:hover {
    background: #ffff00;
    cursor: pointer;
}

.container_code {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 632px;
    height: 577px;
    background: #FFF8E4;
}

.code {
    width: 500px;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.098);
    border-radius: 4px;
}

.first_line {
    margin-left: 37px;
    margin-top: 37px;
}

.client {
    font-family: 'Roboto', sans-serif;
    padding-right: 8px;
    color: #000088;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
}

.equals {
    color: #339933;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    padding-right: 8px;
}

.new {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

.lokalise {
    color: #9876AA;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    padding-right: 30px;
}

.left_bracket, .right_bracket {
    color: #009900;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

.token {
    color: #000088;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

.semicolon {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #339933;
    font-family: 'Roboto', sans-serif;
}

.second_line {
    margin-left: 37px;
    margin-top: 30px;
}

.response {
    color: #000088;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    padding-right: 8px;
}

.equals1 {
    color: #339933;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    padding-right: 8px;
}

.client1 {
    color: #000088;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    padding-right: 8px;
}

.arrow, .arrow1 {
    color: #339933;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

.files {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    color: #004000;
    padding-right: 8px;
}

.download {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    color: #004000;
}

.left_bracket1, .right_bracket1 {
    color: #009900;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

.third_line {
    margin-left: 69px;
}

.project {
    color: #000088;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

.comma {
    padding-left: 10px;
    color: #339933;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

.fourth_line {
    margin-left: 69px;
}

.square_bracket_left, .square_bracket_right {
    color: #009900;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

.fifth_line {
    margin-left: 101px;
}

.format {
    color: #0000FF;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

.equals2 {
    padding-left: 15px;
    color: #339933;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

.json {
    color: #0000FF;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
}

.comma1 {
    color: #339933;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
}

.sixth_line {
    margin-left: 69px;
}

.php_code {
    position: absolute;
    margin-top: 370px;
    margin-right: 360px;
}

.php {
    font-size: 14px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

.banner_for_lokalize {
    margin-top: 120px;
    margin-bottom: 58px;
}

.box_possibilities_5 {
    height: 1033px;
    background: #FFF8E4;
    margin-top: 150px;
}

.banner2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
}

.flexbox_possibilities_5 {
    display: flex;
    flex-wrap: wrap;
    width: 1290px;
    height: 702px;
    margin: 0 auto;
    column-gap: 110px;
    row-gap: 54px;
    justify-content: center;
    align-items: center;
}

.element {
    flex-basis: 330px;
    height: 294px;
}

.img {
    width: 160px;
    height: 120px;
    padding-top: 21px;
    padding-left: 85px;
}

.banner_2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    padding-top: 26px;
    padding-left: 105px;
    font-family: Graphik LC TT;
}

.banner_2_games {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    padding-top: 26px;
    padding-left: 119px;
    font-family: Graphik LC TT;
}

.banner_2_marketing {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    padding-top: 26px;
    padding-left: 50px;
    font-family: Graphik LC TT;
}

.banner_2_iot {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    padding-top: 26px;
    padding-left: 138px;
    font-family: Graphik LC TT;
}

.text {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.box_possibilities_6 {
    width: 1290px;
    height: 998px;
    margin: 0 auto;
}

.banner_boost {
   margin-top: 154px; 
}

.banner_specification_boost {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    font-family: Graphik LC TT;
}

.flexbox_possibilities_6 {
    display: flex;
    flex-basis: 1290px;
    height: 609px;
    margin-top: 25px;
}

.element_boost {
    width: 439px;
    height: 609px;
}

.img_2 {
    padding-top: 50px;
}

.banner_3 {
    padding-top: 49px;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    font-family: Graphik LC TT;
}

.information {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    padding-top: 34px;
    padding-bottom: 25px;
}

.link_2 {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    font-family: Graphik LC TT;
}

.link_2:hover {
    background: #ffff00;
    cursor: pointer;
}

.banner_3_developers {
    padding-top: 67px;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    font-family: Graphik LC TT;
}

.banner_3_translators {
    padding-top: 58px;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    font-family: Graphik LC TT;
}

.information_about_owner {
    display: flex;
    height: 468px;
    background: #C9E8F2;
    justify-content: center;
    align-items: center;
}

.text_information_owner {
    width: 870px;
    height: 275px;
}

.speech_owner {
    font-size: 30px;
    line-height: 40px;
    font-family: Graphik LC TT;
}

.name_owner {
    font-size: 15px;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    padding-top: 23px;
}

.revolut {
    padding-top: 7px;
}

.photo_owner {
    width: 310px;
    height: 310px;
    padding-left: 109px;
}

.container_reviews {
    height: 332px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #DABC98;
}

.box_one {
    display: flex;
    flex-basis: 809px;
    height: 178px;
}

.cake {
    padding-top: 20px;
    width: 179px;
    height: 154px;
}

.box_review {
    width: 461px;
    height: 100px;
    margin-left: 67px;
    margin-top: 47px;
}

.review {
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    font-family: Graphik LC TT;
}

.box_two {
    display: flex;
    flex-basis: 481px;
    height: 186px;
    justify-content: center;
    align-items: center;
}

.review_one {
    width: 128px;
    height: 116px;
}

.review_two {
    width: 150px;
    height: 116px;
    padding-left: 70px;
}

.container_integrate_lokalise {
    width: 1290px;
    height: 841px;
    margin: 0 auto;
}

.box_banner_lokalise {
    width: 791px;
    height: 150px;
    text-align: center;
    margin-top: 169px;
    margin-left: 250px;
}


.banner_lokalise {
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    font-family: Graphik LC TT;
}    

.box_subtitle {
    width: 539px;
    height: 60px;
    text-align: center;
    margin-left: 376px;
}

.subtitle {
    font-size: 25px;
    line-height: 30px;
    font-family: Graphik LC TT;
}

.bird {
    width: 1023px;
    height: 445px;
    margin-top: 25px;
    margin-left: 133px;
}

.see_all_integrations {
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    width: 193px;
    height: 60px;
    background: #FF6336;
    margin-top: 32px;
    margin-left: 670px;
    margin-bottom: 162px;
    font-family: Graphik LC TT;
}

.see_all_integrations:hover {
    background-color: #000088;
    cursor: pointer;
}

.container_localization_made_easy {
    height: 603px;
    background: #FF9C7D;
}

.box_banner_localization_made_easy {
    width: 784px;
    height: 150px;
    text-align: center;
    padding-top: 119px;
    padding-left: 370px;
}

.banner_localization_made_easy {
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    font-family: Graphik LC TT;
}

.box_subtitle_info {
    width: 438px;
    height: 30px;
    text-align: center;
    padding-top: 29px;
    padding-left: 550px;
}

.subtitle_info {
    font-size: 20px;
    line-height: 30px;
    font-family: Graphik LC TT;
}

.button_try_it_free {
    border: none;
    width: 160px;
    height: 60px;
    background: #000000;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 54px;
    margin-left: 680px;
    font-family: Graphik LC TT;
}

.button_try_it_free:hover {
    background: #fff;
    cursor: pointer;
    color: #000;
}

.last_container {
    padding-top: 92px;
    background: #EEEEEE;
    height: 900px;
}

.flexbox_last_container {
    display: flex;
    flex-basis: 1290px;
    height: 682px;
    margin: 0 auto;
    margin-top: 92px;
}

.flexbox_one_case_studies {
    width: 370px;
    height: 587px;
    margin-left: 75px;
}

.banner_one_case_studies {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    font-family: Graphik LC TT;
}

.cyclists {
    width: 300px;
    height: 300px;
    padding-top: 28px;
}

.logo_specialized {
    width: 80px;
    height: 32px;
    padding-top: 39px;
}

.info_about_riding {
    font-size: 20px;
    line-height: 30px;
    font-family: Graphik LC TT;
    padding-top: 11px;
    padding-bottom: 15px;
}

.link_riding {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    text-decoration: none;
}

.link_riding:hover {
    background: #009900;
    color: #fff;
    cursor: pointer;
}

.product_links_box_one {
    width: 187px;
    height: 271px;
    margin-left: 70px;
}

.options_banners {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    font-family: Graphik LC TT;
}

.list {
    padding-top: 21px;
}

.link_item {
    font-size: 15px;
    line-height: 15px;
    color: #000000;
    font-family: Graphik LC TT;
    list-style-type: none;
    padding-bottom: 15px;
}

.link_item:hover {
    color: #0000FF;
    cursor: pointer;
}

.product_links_box_two {
    width: 187px;
    height: 271px;
    margin-left: 34px;
}

.product_links_box_three {
    width: 187px;
    height: 181px;
    margin-left: 34px;
}

.product_links_box_four {
    width: 187px;
    height: 256px;
    margin-left: 34px;
}

.footer {
    background: #EEEEEE;
}

.flexbox_container_footer {
    flex-basis: 1290px;
    height: 30px;
    border-top: 1px solid#000000;
    display: flex;
    justify-content: space-between;
    background: #EEEEEE;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 47px;
    padding-bottom: 48px;
}

.flexy {
    display: flex;
}

.flexbox_container_one {
    display: flex;
    flex-basis: 411px;
    height: 30px;
}

.lokalise {
    width: 90px;
    height: 21px;
}

.final_conclusion_about_lokalise, .dates, .rights_reserved  {
    font-size: 15px;
    line-height: 15px;
    font-family: Graphik LC TT;
}

.flexbox_container_two {
    flex-basis: 150px;
    height: 50px;
    margin-right: 76px;
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 1024px;
    }

    .vector-lettering {
        width: 200px;
        margin-right: 5px;
        margin-left: 10px;
    }

    .nav-menu {
        padding-left: 100px;
    }

    .menu-item {
        padding: 15px;
    }

    .hamburger-menu {
        visibility: hidden;
        width: 1px;
        height: 1px;
    }

    .button {
        padding-left: 80px;
    }

    .button1, .button2  {
        width: 90px;
    }

    .banner {
        text-align: center;
        margin-left: 250px;
    }

    .description {
        width: 520px;
        font-size: 30px;
        text-align: center;
        margin-left: 280px;
        background-color: rgba(157,230,92,0.4);
        border-radius: 8px;
    }

    .image {
        position: absolute;
        left: 150px;
        top: 200px;
        opacity: 0.4;
    }

    .button_under_description {
        margin-left: 390px;
    }
    
    .button4 {
        background-color: #ffff00;
    }

    .limit_using {
        margin-left: 380px;
    }

    .box_cooperation_with_companies {
        width: 1024px;
    }

    .banner2 {
        padding-left: 200px;
    }

    .companies {
        width: 1000px;
        margin-left: 10px;
    }

    .box_possibilities_1, .box_possibilities_2, .box_possibilities_3, .box_possibilities_4 {
        margin-bottom: 40px;
        width: 1024px;
    }

    .flexbox_possibilities_1 {
        width: 500px;
        margin-right: 0;
    }

    .picture_possibilities {
        width: 450px;
    }

    .flexbox_possibilities_2 {
        width: 530px;
        margin-left: 0;
    }

    .flexbox_possibilities_3 {
        width: 530px;
        margin-right: 0;
    }

    .flexbox_possibilities_4 {
        width: 490px;
        margin-left: 5px;
    }

    .container_code {
        width: 500px;
    }

    .box_possibilities_5 {
        height: 1300px;
        margin-top: 50px;
    }

    .banner2 {
        padding-left: 120px;
    }

    .flexbox_possibilities_5 {
        width: 1024px;
    }

    .box_possibilities_6 {
        width: 1024px;
    }

    .banner_boost {
        margin-top: 80px;
        width: 900px;
        margin-left: 60px;
        text-align: center;
    }

    .photo_owner {
        width: 300px;
        padding-left: 0;
        padding-right: 52px;
    }

    .box_review {
        margin-left: 0;
    }

    .container_integrate_lokalise {
        width: 1024px;
    }

    .box_banner_lokalise {
        margin-left: 130px;
        margin-top: 100px;
    }

    .box_subtitle {
        margin-left: 250px;
    }

    .bird {
        margin-left: 0;
    }

    .see_all_integrations {
        margin-left: 450px;
        margin-bottom: 80px;
    }

    .box_banner_localization_made_easy {
        padding-left: 130px;
    }

    .box_subtitle_info {
        padding-left: 300px;
    }

    .button_try_it_free {
        margin-left: 450px;
    }

    .last_container {
        padding-top: 50px;
    }

    .flexbox_one_case_studies {
        width: 300px;
    }

    .flexy {
        display: flex;
        flex-wrap: wrap;
    }

    .product_links_box_one, .product_links_box_two, .product_links_box_three, .product_links_box_four {
        margin-left: 10px;
    }

    .flexbox_container_footer {
        margin-left: 75px;
        margin-right: 75px;
    }

    .flexbox_container_two {
        margin-right: 0;
    }
}

@media screen and (max-width: 375px) {
    .container, .header {
        max-width: 375px;
    }

    #burger-icon {
        display: none;
    }

    .nav-menu {
        display: none;
    }

    .hamburger-menu {
        width: 40px;
        height: 60px;
        visibility: visible;
    }

    #menu_toggle {
        opacity: 0;
    }

    .menu_btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menu_btn > span,
    .menu_btn > span::before,
    .menu_btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }
    
    .menu_btn > span::before {
        content: '';
        top: -8px;
    }
    
    .menu_btn > span::after {
        content: '';
        top: 8px;
    }

    .menu_box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 398px;
        height: 300px;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }

    .menu_item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }

    .menu_item:hover {
        background-color: #CFD8DC;
    }

    #menu_toggle:checked ~ .menu_btn > span {
        transform: rotate(45deg);
    }
    
    #menu_toggle:checked ~ .menu_btn > span::before {
        top: 0;
        transform: rotate(0);
    }
  
    #menu_toggle:checked ~ .menu_btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    
    #menu_toggle:checked ~ .menu_box {
        visibility: visible;
        left: 0;
    }

    .header {
        flex-direction: column;
    }

    .vector-lettering {
        flex-direction: column;
        width: 200px;
        height: 28px;
        padding-left: 0;
        margin-right: 0;
        margin-left: 130px;
    }

    .button {
        padding-left: 90px;
    }

    .banner {
        width: 375px;
        height: 50px;
        margin-left: 0;
        margin-top: 50px;
        font-size: 30px;
        line-height: 30px;
    }

    .description {
        width: 335px;
        margin-top: 30px;
        margin-left: 20px;
        height: 210px;
    }

    .button_under_description {
        width: 250px;
        padding-left: 0;
        margin-left: 70px;
        margin-right: 0;
    }

    .button4 {
        margin-right: 0;
    }

    .limit_using {
        margin-left: 30px;
    }

    .image {
        width: 375px;
        left: 0;
        top: 230px;
    }
    
    .box_cooperation_with_companies {
        width: 375px;
        margin-top: 50px;
        margin-bottom: 0;
    }
    
    .banner2 {
        width: 336px;
        padding-left: 20px;
        padding-top: 50px;
        font-size: 25px;
        line-height: 30px;
        height: 80px;
    }

    .companies {
        width: 150px;
        flex-direction: column;
        margin-left: 100px;
        margin-top: 0;
    }

    .image_companies {
       padding-bottom: 15px; 
    }

    .box_possibilities_1, .box_possibilities_3 {
        width: 375px;
        flex-direction: column;
    }

    .box_possibilities_2, .box_possibilities_4 {
        width: 375px;
        flex-direction: column-reverse;
    }

    .flexbox_possibilities_1, .flexbox_possibilities_2, .flexbox_possibilities_3, .flexbox_possibilities_4 {
        width: 355px;
        margin-top: 30px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .banner1 {
        width: 355px;
        height: 50px;
        font-size: 30px;
        line-height: 30px;
    }

    .description1 {
        width: 355px;
    }

    .picture_possibilities {
        width: 355px;
        margin-left: 10px;
    }

    .container_code {
        width: 373px;
        height: 340px;
        border: none;
    }

    .flexbox_code {
        width: 373px;
    }

    .code {
        width: 372px;
    }

    .first_line, .second_line, .third_line, .fourth_line, .fifth_line, .sixth_line, .seventh-line {
        margin-left: 0;
    }

    .lokalise {
        padding-right: 10px;
    }

    .seventh-line {
        margin-left: 5px;
    }

    .php_code {
        margin-right: 320px;
        margin-top: 287px;
    }

    .banner_for_lokalize {
        padding-left: 5px;
        text-align: center;
        margin-top: 25px;
    }

    .flexbox_possibilities_5 {
        width: 375px;
        flex-wrap: nowrap;
        flex-direction: column;
        column-gap: 0;
        row-gap: 20px;
        justify-content: flex-start;
    }

    .element {
        flex-basis: 365px;
    }

    .box_possibilities_6 {
        width: 375px;
        height: 1950px;
        display: flex;
        flex-direction: column;
        border: none;
        margin-bottom: 30px;
    }

    .flexbox_possibilities_6 {
        flex-direction: column;
    }

    .element_boost {
        width: 375px;
    }

    .information_about_owner {
        flex-direction: column;
        height: 800px;
        margin-bottom: 30px;
    }

    .container_reviews {
        flex-direction: column;
        height: 650px;
        margin-bottom: 30px;
    }

    .container_integrate_lokalise {
        display: flex;
        flex-direction: column;
        width: 375px;
        height: 500px;
        border: none;
    }

    .container_localization_made_easy {
        display: flex;
        flex-direction: column;
        height: 250px;
    }

    .button_try_it_free {
        margin-top: 20px;
        margin-left: 100px;
    }

    .see_all_integrations {
        margin-left: 95px;
        margin-bottom: 30px;
    }

    .last_container {
        height: 1170px;
        padding-top: 0;
    }

    .banner_correct {
        width: 355px;
        height: 50px;
        margin-bottom: 20px;
    }

    .description_correct {
        width: 355px;
    }

    .box_possibilities_5 {
        border: none;
        height: 1810px; 
        margin-bottom: 30px;
    }

    .banner_2 {
        padding-top: 0;
    }
    
    .banner_2_games {
        padding-left: 130px;
    }

    .banner_2_marketing {
        padding-left: 90px;
    }

    .banner_2_iot {
        padding-left: 150px;
    }

    .banner_boost {
        width: 375px;
        margin-top: 30px;
        margin-left: 0;
    }

    .banner_specification_boost {
        font-size: 30px;
        line-height: 30px;
    }

    .flexbox_possibilities_6 {
        border: none;
    }

    .img_2 {
        margin-left: 100px;
    }

    .banner_3 {
        margin-left: 100px;
    }

    .banner_3_developers {
        margin-left: 100px;
    }

    .banner_3_translators {
        margin-left: 100px;
    }

    .information {
        text-align: center;
    }

    .text_information_owner {
        width: 375px;
    }

    .photo_owner {
        width: 300px;
        height: 300px;
        margin-top: 200px;
        padding-left: 0px;
        padding-right: 0;
    }

    .name_owner {
        text-align: center;
    }

    .revolut {
        margin-left: 120px;
    }

    .box_one {
        flex-direction: column;
        width: 373px;
        border: none;
    }

    .box_review {
        width: 375px;
    }

    .cake {
        margin-left: 100px;
    }

    .box_review {
        text-align: center;
        margin-top: 20px;
    }

    .review_two {
        padding-left: 20px;
    }

    .box_banner_lokalise {
        width: 375px;
        margin-left: 0;
        margin-top: 10px;
        height: 50px;
    }

    .banner_lokalise {
        font-size: 30px;
        line-height: 30px;
        
    }

    .box_subtitle {
        width: 375px;
        margin-left: 0;
        margin-top: 20px;
    }

    .bird {
        width: 375px;
        height: 300px;
        margin-top: 50px;
    }

    .box_banner_localization_made_easy {
        width: 375px;
        height: 55px;
        padding-left: 0;
        padding-top: 20px;
    }

    .banner_localization_made_easy {
        font-size: 30px;
        line-height: 30px;
    }

    .box_subtitle_info {
        width: 375px;
        padding-left: 0;
    }

    .flexbox_last_container {
        flex-direction: column;
        border: none;
    }

    .flexbox_one_case_studies {
        margin-left: 35px;
        border: none;
    }

    .flexy {
        margin-top: 30px;
    }

    .product_links_box_one, .product_links_box_two, .product_links_box_three, .product_links_box_four {
        width: 170px;
        border: none;
    }

    .product_links_box_three, .product_links_box_four {
        margin-top: 30px;
        border: none;
    }

    .flexbox_container_footer {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        border-top: none;
    }

    .flexbox_container_two {
        margin-top: 20px;
        text-align: center;
    }
}